In [1]:
import mysql.connector
import time

Id = int(input("Give me a value that is one or I won't do shit."))

if Id == 1:
    
    #Connecting to the Database
    connection = mysql.connector.connect(host='localhost', # Setting up the database connection
                                         database = 'beeronomics',
                                         user='root',
                                         password='Cheers!!')

    #Creates Cursors that connect to the database
    cursor1 = connection.cursor(buffered = True)
    cursor2 = connection.cursor(buffered = True)
    cursor3 = connection.cursor(buffered = True)
    cursor4 = connection.cursor(buffered = True)
    
    #mySQL Query Variables
    mySql_Select_Beer_Ids = """SELECT beer_id FROM beer_types"""
    mySql_Select_Beer_Price_Act = """SELECT beer_price_active FROM beer_types"""
    mySql_Select_Beer_Price_Min = """SELECT beer_price_min FROM beer_types"""
    mySql_Select_Start_Price = """SELECT beer_price_start FROM beer_types"""
    
    #Executing the Queries and Fetching the Data for Python
    records1 = cursor1.execute(mySql_Select_Beer_Ids)
    results1 = cursor1.fetchall()
    records2 = cursor2.execute(mySql_Select_Beer_Price_Act)
    results2 = cursor2.fetchall()
    records3 = cursor3.execute(mySql_Select_Beer_Price_Min)
    results3 = cursor3.fetchall()
    records4 = cursor4.execute(mySql_Select_Start_Price)
    results4 = cursor4.fetchall()
    
    # Row Count Function
    rows = cursor1.rowcount
    
    #Creating Empty Lists
    beer_ids = []
    beer_prices_act = []
    beer_prices_min = []
    beer_prices_start = []
    
    #Converting Tuples From mySQL to Lists
    for t in results1: 
        for x in t:
            beer_ids.append(x)
    print(beer_ids)
    
    for t in results2: 
        for x in t:
            beer_prices_act.append(x)
    print(beer_prices_act)
    
    for t in results3: 
        for x in t:
            beer_prices_min.append(x)
    print(beer_prices_min)
    
    for t in results4: 
        for x in t:
            beer_prices_start.append(x)
    print(beer_prices_start)
    
    
    # Loop to Update Values to the Min Price
    for i in range(0,rows):
        beer_prices_act[i] = beer_prices_min[i]
        print(beer_prices_act[i])

    # mySQl Update Query Variable
    mySql_Update_Beer_Prices = """UPDATE beer_types 
                                SET beer_price_active = %s 
                                WHERE beer_id = %s"""
    
    # Turning New Price List into Tuple
    beer_prices_new = (*beer_prices_act,)
    
    # Cursor for Price Reassignment
    cursor = connection.cursor(buffered = True)
    
    # Updating Active Prices
    for i in range(0,rows):
        update = cursor.execute(mySql_Update_Beer_Prices,(beer_prices_new[i],beer_ids[i],))
        connection.commit()
    
    # Closing Database Connections
    cursor1.close()
    cursor2.close()
    cursor3.close()
    cursor4.close()
    connection.close()
    
else:
    print("Moron")

Give me a value that is one or I won't do shit. 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[6.31, 5.31, 1.25, 0.5, 2.0, 2.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[5.31, 5.31, 1.25, 0.5, 2.0, 2.5, 3.0, 4.0, 5.0, 6.0, 7.0, 3.0, 3.0, 3.0, 3.0, 2.0, 3.0, 4.0, 6.0]
[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 7.0, 8.0, 8.0, 5.0, 5.0, 5.0, 5.0, 3.5, 4.5, 6.0, 8.0]
5.31
5.31
1.25
0.5
2.0
2.5
3.0
4.0
5.0
6.0
7.0
3.0
3.0
3.0
3.0
2.0
3.0
4.0
6.0